@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --universalbackground: rgb(220, 220, 220);
  --universalbackgrounda: rgba(209, 209, 209, 0.85);
  --accent: rgb(0, 169, 121);
  --universalbackd: rgb(200,200,200);
  --universalbackd2: rgb(180,180,180);
  --universalblack: rgb(10,10,10);
  --universalfont: black;
  --universalborder: rgb(6, 32, 28);
}

body.dark-mode{
  --universalbackground: rgb(26, 26, 26);
  --universalbackgrounda: rgba(26, 26, 26, 0.85);
  --universalblack: rgb(10, 10, 10);
  --universalfont: rgb(229, 229, 229);
  --universalbackd: rgb(20,20,20);
  --universalbackd2: rgb(10,10,10);
  --universalborder: rgb(78, 78, 78);
}

body{
  padding: 0 0 25px 0;
  margin: 0 0 0 10px;
  font-family: 'Noto Sans';
  background-image: url('../svg/swiggity.svg');
  background-color: var(--universalbackground);
  color: var(--universalfont);
}

h1{
  text-align: left; 
}

header{
  padding: 0px 0px 15px 0px;
  margin: 10px 15% 20px 0px;
  border-style: double;
  border-width: 0px 0px 4px 0px;
}

#modeswitchb{
  font-size: .7em;
  border: 2px solid var(--universalbackd2);
  background-color: var(--universalbackd);
  border-radius: 50px;
}

#thename{
  font-family: Montserrat;
}

.smalluseless{
  font-size: 0.72em;
}

footer{
  border-radius: 5px 5px 0px 0px;
  border: 2px solid var(--universalborder);
  border-bottom: 0px;
  margin-top: 50px;
  margin-right: 15px;
  margin-bottom: -50px;
  display: flexbox;
  width: 99.5%;
  background-color: var(--universalbackd);
  padding: 20px;
  padding-bottom: 40px;
}

@media (max-width: 767.98px) {
  footer{
    font-size: .4em;
  }
}

#leftside{
  font-family: Montserrat;
}

#rightside{
  float: right;
}

a:link{
  color: var(--universalfont);
  text-decoration: underline;
}
a:hover{
  color: var(--universalfont);
  text-decoration: underline;
  text-decoration-color: var(--accent);
}
a:visited {
  color: var(--universalfont);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: inherit;
  -moz-appearance: textfield;
}